// default states

#topbar,
.cashier-link,
.login-container,
.account-container {
    display: none;
}

// after access applied

.client-not-logged-in #topbar,
.client-is-real #topbar,
.client-has-real #topbar .button,
.client-is-virtual .authenticate-link {
    display: none;
}

.client-logged-in.client-is-virtual #topbar,
.client-not-logged-in .login-container,
.client-logged-in .account-container,
.client-is-real .cashier-link {
    display: block;
}

.client-logged-in .account-container {
//    display: list-item;
}

html:lang(JA) {
    .responsible-trading-link,
    .gemcare-link,
    .white-labels-link,
    .partner-api-link,
    .open-source-link,
    .regulatory-logos,
    .deposit-to-payment-agent-link,
    .withdraw-via-payment-agent-link,
    .transfer-between-accounts-link,
    .smart-indices-link,
    .random-markets-link,
    .asset-index-link,
    .trading-times-link,
    .pricing-table-link,
    .rise-fall-table-link {
        display: none!important;
    }
}
