#social-networks a {
    width: 33px;
}

#footer-menu h1 {
    font-size: $FONT_SIZE_N;
    color: $COLOR_DARK_WHITE;
}

#footer-menu a {
    font-size: $FONT_SIZE_S;
}

#footer-menu * {
    font-weight: normal;
}

.button {
    cursor: pointer;
}
