/* DO NOT include any rules for specific pages in this file. */

html {
    font-size: 17px;
    // base font-size, used with rem for responsive typography

}
body {
    background: $COLOR_WHITE;
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

a,
a:visited {
    color: $COLOR_DARK_GRAY;
    text-decoration: none;
    font-weight: bold;

}
a:hover,
a:active {
    text-decoration: underline;

}
body,
input,
select,
h1,
h2,
h3,
h1 a,
h2 a,
h3 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
legend,
p,
span {
    color: $COLOR_TEXT;
}
strong {
    font-weight: bold;

}
em {
    font-style: italic;

}
ol li {
    list-style-type: decimal;
    list-style-image: none;
    margin-bottom: .5em;
}
img {
    vertical-align: middle;
    border: 0;

}
acronym,
abbr {
    cursor: help;

}
pre {
    border-left: 5px solid $COLOR_BLUE;
}
.code-sample,
code {
    background-color: $COLOR_LIGHT_GRAY;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre;
    line-height: 1.5;

}
pre {
    padding: 0.5em 1em;
    background-color: $COLOR_LIGHT_GRAY;

}
/* form styles */
.extra_tooltip_container {
    float: left;
    text-align: right;
    padding-right: 1em;
    width: 40%;
    line-height: 1.7em;

}
// used for form label in grid structure
.form_label {
    text-align: right;
    line-height: 25px;

}
.extra_tooltip_container label {
    padding: 0;
    width: 94%;

}
.input {
    width: 45%;

}
.row.focus input,
.row.focus textarea {
    background-color: $COLOR_YELLOW;

}
.errorrow,
.errorfield {
    color: $COLOR_RED;
    font-style: italic;
}
.text-only {
    color: $COLOR_DARK_GRAY;

}
.errorfield {
    margin: 0;

}
.errorrow,
.errorfield {
    margin-top: 8px;

}
.last-row {
    margin-bottom: 0;

}
.comment {
    font-style: italic;

}
#popup {
    width: 95%;
    margin: 0 auto;

}
.clearfix {
    clear: both;
    visibility: hidden;
    content: '.';

}
.hidden {
    display: none;

}
.left {
    float: left;

}
.right {
    float: right;

}
.push {
    clear: both;

}
.required_asterisk {
    color: $COLOR_ORANGE;

}
.error-msg {
    color: $COLOR_RED;
    font-style: italic;

}
.notice-msg {
    color: $COLOR_BLACK;
    background-color: $COLOR_YELLOW;
    padding: 10px;

}
/* using pixel as we need it to make footer sticky */
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}
.indicate-loading {
    opacity: 0.6;
    margin: -1px;
    padding: 0;
    border: 0;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.inpage_popup_container {
    position: fixed;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: solid 1px $COLOR_NAV_BORDER;
    background: $COLOR_LIGHT_GRAY;
    z-index: 1000;
    max-width: 90%;
    .inpage_popup_content {
        margin: 30px 10px 10px;
        padding: 0;
    }
    .inpage_popup_content_box {
        padding: 0;
        margin: 0;
        background: $COLOR_WHITE;
        border: solid 2px $COLOR_GRAY;
        text-align: center;
    }

}

a.close {
    position: relative;
    top: -10px;
    right: -10px;
    float: right;
    display: inline-block;
    padding: .25em .5em;
    cursor: pointer;
    color: $COLOR_WHITE;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    background: $COLOR_NAV_BORDER;
    font-size: $FONT_SIZE_L;
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
}
.paging-navigation {
    ul.paging-links {
        li {
            line-height: 1em;
        }
    }

}
ul.checked li,
ul.bulleted li {
    margin-bottom: 0.5em;
    line-height: 1.3;

}
ul.checked li {
    padding-left: 25px;
    background-size: 20px;
    background-position: 0 5px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDQzMzYzKSAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDI0IDIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8Zz4NCgkJPGc+DQoJCQk8cG9seWdvbiBmaWxsPSIjRTk4MDI1IiBwb2ludHM9IjguNjIzLDE5LjU1NyAwLDEwLjkzNiAzLjczNiw3LjE5OCA4LjYyMywxMi4wODIgMjAuMjYyLDAuNDQzIDI0LDQuMTggOC42MjMsMTkuNTU3IAkJCSIvPg0KCQk8L2c+DQoJPC9nPg0KPC9nPg0KPC9zdmc+DQo=");
    background-repeat: no-repeat;

}
ul.bulleted {
    margin-left: 1em;
}
ul.bulleted li {
    list-style: disc outside none;

}
.reset_ol {
    counter-reset: item;
    li {
        display: block;
    }
    li:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
    }

}
.hint {
    color: #58595b;
    margin-top: 3px;
}

.separator-line {
    border-bottom: 1px solid $COLOR_GRAY;
    margin-top: 10px;
    margin-bottom: 10px;

}

.form-logo {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
