.errorrow, .errorfield {
    color: $COLOR_RED;
}

.form_button {
    text-align: center;
}

.form_button .errorfield {
    margin: 0;
}

.non_input {
    color: $COLOR_DARK_GRAY;
    line-height: 1.7;
}

.non_input label {
    line-height: 1.6;
}

.form_link {
    display: block;
    line-height: 0.8;
}

.error-msg {
    color: $COLOR_RED;
    font-style: italic;
}

.notice-msg {
    color: $COLOR_BLACK;
    background-color: $COLOR_YELLOW;
    padding: 10px;
}

.msg-button {
    background: inherit;
    &:hover {
        background: $COLOR_BLUE;
    }
}
