.lp-header-wrapper {
    background: inherit;
}

.lp-header-wrapper .logo:hover {
    box-shadow: none;
    border-color: transparent;
    background-color: inherit;
}

.lp-header-wrapper .login-button {
    border-color: $COLOR_ACTIVE;
}

.publications {
    width: 100%;
    padding: 1em 0;
    opacity: .5;
}
