@media all and (max-width: 759px) {
    html {
        font-size: 16px;
    }
    .logo {
        width: 3.1em;
    }
}

@media all and (max-width: 479px) {
    html {
        font-size: 14px;
    }
    .login-embed {
        flex: 1;
    }
    .login-embed input, .sitemap, .footer {
        display: none;
    }
    .header-wrapper {
        order: 5;
    }
    .sticky {
        bottom: 0;
    }
    .msgbar-wrapper {
        display: none;
    }
    .header-wrapper {
        border-bottom: none;
        border-top: 2px solid $COLOR_ORANGE;
    }
    .content-wrapper {
        padding-top: 0;
    }
}
