.msgbar-wrapper {
    background: $COLOR_ORANGE;
}

.header-wrapper {
    background: $COLOR_GRAY;
}

.sitemap h3, .sitemap a, .sitemap a:visited, .footer {
    color: rgba(0, 0, 0, .5);
}


.sitemap {
    h3 {
        font-size: $FONT_SIZE_N;
    }
    a {
        font-size: $FONT_SIZE_S;
    }
}

.sitemap * {
    font-weight: normal;
}

.footer-wrapper {
    border-top: 1px solid #e8eced;
    background: #f8f8f8;
    padding: 2em 0;
}

.regulatory {
    font-size: $FONT_SIZE_XS;
}

.logo img {
    width: 100%;
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(160,170,180,.5);
}

.dialog {
    margin: auto;
    background: white;
    padding: 2em;
    border-radius: $BORDER_RADIUS;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.25);
}

.progress-spinner {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(/images/logo.svg);
}
