.readable,
.why-us-content,
.whyus-content,
.careers-content,
.devguide-content,
.grouphistory-content,
.opensourceprojects-content,
.partnerapi-content,
.responsibletrading-content,
.responsible-trading-content,
.smartindices-content,
.tour-content,
.whitelabels-content,
.aboutus-content,
.random-markets-content
{
    max-width: 700px;

    header {
        text-align: center;
    }

    blockquote, img {
        margin: 0 10%;
    }
    blockquote p {
        font-weight: bold;
        text-align: center;
        quotes: '\201D' '\201D' '\2019' '\2019';

        &:before {
            content: open-quote;
        }

        &:after {
            content: close-quote;
        }
    }

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        margin: 2em;
    }

    ul {
        padding-left: 1em;
        /* list-style: disc outside none; */
    }

    li {
        line-height: 1.3;
        margin-bottom: .5em;
    }
}
