table {
    width: 100%;
}

thead {
    border-bottom: 2px solid #d4d4d4;
}

th {
    background: #fafafa;
    font-weight: bold;
}

tbody tr {
    border-bottom: 1px solid #d4d4d4;
}

tbody tr:hover {
    background: #fafafa;
}

tbody tr:hover td:first-child {
    box-shadow: inset 3px 0px 0px 0px $COLOR_ORANGE;
}

th, td {
    padding: .5em;
    vertical-align: middle;
    text-align: center;
}

/*table
{
        #pf-bet-details {
            text-align: left;
        }
        &.total {
            background: none;
        }
        &.num {
            font-weight: bold;
        }
    }
    td {
        &.num {
            text-align: center;
        }
        &.text {
            text-align: center;
            vertical-align: middle;
        }
        &.tip {
            text-align: left;
        }
        a.button-analyse, a.button-analyse:visited {
            background: none;
            display: inline;
            padding: 0;
            span {
                font-weight: normal;
                background: none;
                text-transform: capitalize;
                padding: 0;
                &:hover, &:active {
                    background: none;
                }
            }
        }
    }
    tr.rbox-sub-header {
        font-weight: bold;
        .first {
            text-align: left;
        }
    }
    .rbox-sub-header {
        background-color: $COLOR_WHITE;
        font-size: $FONT_SIZE_L;
        font-weight: bold;
        padding: 1.5em 0.2em 0.8em;
    }
    .action, .icon {
        text-align: center;
    }
    .total, .num {
        text-align: right;
    }
    .status, .time {
        text-align: left;
    }
    .ref {
        text-align: center;
    }
    .range {
        padding: 4px 36px;
        text-align: left;
    }
    .percent {
        text-align: center;
    }
    .loss, .lower {
        color: $COLOR_RED;
    }
}
*/
