/** IMPORTANT
 *  Before modifying or removing any of these colors,
 *  confirm it with design team and ask yourself do we need
 *  any other color except these generic ones as addition
 *  of new color may lead to inconsistent looking UI
 *
 *  Colors are specified with examples where they are used
 */

 // brand colors and derivatives
$BIN_ORANGE        : #E98024;
$BIN_LIGHT_BLUE    : #29ABE2;
$BIN_BLUE          : #2a3052;
$BIN_BLUE_SHADE    : #394171;
$BIN_DARK_BLUE     : #15212d;

// colors used for secondary purposes. to be used sparingly
$BIN_BLACK         : #000000;
$BIN_WHITE         : #FFFFFF;
$BIN_RED           : #CC0000;
$BIN_YELLOW        : #FEF1CF;
$BIN_LIGHT_GRAY    : #F2F2F2;
$BIN_GRAY          : #DEDEDE;
$BIN_GRAY_SHADE    : #C2C2C2;
$BIN_DARK_GRAY     : #808080;
$BIN_GREEN         : #2E8836;
$BIN_DARK_GREEN    : #14602B;


$BORDER_RADIUS: 3px;

$FONT_SIZE_N: 18px;
