.live_chart_wrapper {
  margin: 0 auto;
  hr {
    display: block;
  }
}

#live_chart_form_wrapper a {
    text-decoration: underline;
    cursor: pointer;
} 
#live_chart_options {
    display: block;
    min-height: 50px;
    #live_chart_duration {
      li {
        float: left;
        text-align: center;
        min-width: 7%;
        span.button {
            margin: 0 5px;
            color: $COLOR_BLACK;
            font-weight: bold;
            border-bottom: 2px solid $COLOR_GRAY;
            &.current {
              color: $COLOR_ORANGE;
              border-bottom: 4px solid $COLOR_ORANGE;
            }
        }
      }
    }
}

.chart-notice {
    text-align: left;
    font-size: $FONT_SIZE_S;
    color: $COLOR_DARK_GRAY;
    width: 90%;
    margin: 5px 0;
}
