.header-wrapper
  .header
    %a.logo{:href=>url_for("/")}
      %img{:src => url_for('images/logo.svg')}
    %label.language-selector{:for => "lang-pick"}
      %select#lang-pick.flag
        %option{:value => "de"} Deutsch
        %option{:value => "id"} Bahasa Indonesia
        %option{:value => "zh_cn"} 简体中文
        %option{:value => "ar"} Arabic
        %option{:value => "pl"} Polish
        %option{:value => "ru"} Русский
        %option{:value => "pt"} Português
        %option{:value => "es"} Español
        %option{:value => "fr"} Français
        %option{:value => "en"} English
    %button.login-button= l('Log in')
