%nav
  %ul.nav1st
    %li.active
      .nav-trade Trade
    %li
      .nav-cashier Cashier
    %li
      .nav-resources Resources
      %ul.nav2nd
        %li Asset Index
        %li Trading Times
        %li Trading Guide
        %li Pricing Table
        %li Rise / Fall Table
        %li Download Charts App
        %li Light Charts
        %li Live Charts
    %li
      .nav-help Help
      %ul.nav2nd
        %li Tour
        %li Training Center
        %li Webinars
        %li Blog
        %li GamCare
        %li Contact Us
