<h1>[% l('Contact Us') %]</h1>
<p>[% l('You\'ll find answers to most of your questions on the <a href="[_1]" target="_blank">FAQ</a> page.', faqurl) %]</p>

<div class="live-help invisible">
    <h2>[% l('Live Help') %]</h2>
    <p class="live-help-description">[% CONTACTUS_LIVECHATHOURS %]</p>
    <div id="live-help-button"></div>
</div>

[% menu_content %]
