#header {
  background: $COLOR_BLUE;
  a {
    color: $COLOR_WHITE;
    text-decoration: none;
  }
  #binary-logo-text {
      margin-top: 10px;
  }
  #login-form {
    margin-top: 5px;
    text-align: right;
    input {
      display: inline;
      border-radius: $BORDER_RADIUS;
      font-size: $FONT_SIZE_XS;
      margin: 0 0 0 5px;
    }
    input[type=text], input[type=password] {
      background: #FEFEFE;
      border: 0;
      width: 70px;
      color: $COLOR_BLACK;
      padding: 4px;
    }

  }

  #logout {
    text-align: right;
    color: $COLOR_WHITE;
    font-size: $FONT_SIZE_S;
    margin-top: 10px;
    a, a:visited {
      &:hover, &:active {
        text-decoration: underline;
      }
      &.logout {
        @include link-button;
        background-position: 104.6% 0.3%;
        background-repeat: no-repeat;
        padding: 6px;
        font-weight: normal;
        margin-left: 0.4em;
      }
    }
  }  
  #menu-top {
    height: 34px;
    text-align: center;
    a:hover {
      opacity: .75;
    }
    li {
      line-height: 1;
      display: inline-block;
      text-align: center;
      margin: 0;
      &:last-child {
        background: none;
      }
      a {
        vertical-align: middle;
        display: table-cell;
        height: 35px;
        max-width: 150px;
        color: $COLOR_WHITE;
        text-decoration: none;
        letter-spacing: 0;
        text-transform: uppercase;
        padding: 0px 10px;
        word-wrap: break-word;
        font-weight: 300;
      }
    }
    li.active {
      a {
        color: $COLOR_ORANGE;
      }
    }
  }
}

#appcache-reload-message {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $COLOR_YELLOW;
  z-index: 999;
  text-align: center;
  .message {
    margin: 12px;
    font-style: italic;
    color: $COLOR_RED;
  }
}
