button.important {
    background: $COLOR_ACTIVE;
}

button, input[type=button], input[type=submit], button.button, a.button {
    color: white;
    background: $COLOR_GRAY;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    border-radius: 100px;
    border: none;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 2.5em;
    min-height: 2.5em;
    display: inline-block;
    cursor: pointer;
    &:hover, &:active {
    //    box-shadow: 0px 0px 0px 2px $COLOR_ACTIVE;
    }
}
