button, input[type=button], input[type=submit], button.button, a.button {
    color: white;
    background: $COLOR_GRAY;
    text-decoration: none;
    text-align: center;
    line-height: 1em;
    border-radius: 100px;
    border: none;
    font-weight: normal;
    padding: .5em 2em;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
    &:hover, &:active {
        background: $COLOR_NAV_ACTIVE;
        box-shadow: 0 2px 0 rgba(0, 0, 0, .1),
                    inset 0px 0px 0px 1px rgba(0,0,0,.2);
    }
}

.button {
    cursor: pointer;
}

button.important, .button.important {
    background: $COLOR_ACTIVE;
    font-weight: bold;
    &:hover, &:active {
        background: darken($COLOR_ACTIVE, 10%);
    }
}

button:focus, input:focus, a:focus, select:focus {
    outline: none;
}

button:disabled {
    opacity: .5;
}

.login-button {
    background: inherit;
    color: $COLOR_WHITE;
    border: 2px solid;
    &:hover {
        color: $COLOR_DARK_GRAY;
        background: $COLOR_WHITE;
        border-color: $COLOR_WHITE;
        box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
    }
}
